.m-first {
    display: flex; width: 100%; min-height: 720px; background-color: white;
    background-image: url("../../images/section_first/breath-ideal-air.jpg");
    background-repeat: no-repeat; background-position: center bottom;
}

.m-first-box {margin-top: 90px; width: inherit;}
.m-first-box-certificates {padding-right: 20px; width: 50%;}

.m-first-box-certificates-list,
.m-first-box-certificates-text,
.m-first-box-certificates-text-box {width: 100%;}

.m-first-box-certificates-list-box,
.m-first-box-certificates-text-box {margin-right: 0; float: right; text-align: right;}
.m-first-box-certificates-text-box h1 {padding-bottom: 25px;font-size: 50px;}
.m-first-box-certificates-text-box  h1 img { margin-top: -8px; padding-left: 2px;padding-right: 2px;}
.m-first-box-certificates-text-box p { padding-bottom: 2px; font-size: 26px; font-weight: 300;}

.m-first-box-certificates-text-box {padding-top: 100px;}

@media screen and (max-width: 1366px) {
    .m-first {min-height: 550px;background-size: 1366px auto;background-position-y: 75px;}
    .m-first-box {margin-top: 75px;}
    .m-first-box-certificates { width: 60%;}
    .m-first-box-certificates-text-box {padding-top: 40px;}
    .m-first-box-certificates-text-box h1 {padding-bottom: 25px;font-size: 38px;}
    .m-first-box-certificates-text-box  h1 img { width: 130px;}
    .m-first-box-certificates-text-box p {font-size: 22px; font-weight: 300;}
    .m-first-box-certificates-list-box .c-certificate {
        display: inline-block; margin-top: 25px;padding: 0 5px; width: 130px;
    }
}
@media screen and (max-width: 1024px) {
    .m-first-box {background-color: #FFFFFFAA;}
    .m-first-box-certificates {width: 70%;}
}
@media screen and (max-width: 830px) {
    .m-first-box {background-color: #FFFFFFFF;}
    .m-first-box-certificates {padding-right: 0; width: 100%;}
    .m-first-box-certificates-text-box,
    .m-first-box-certificates-list-box { float: none; text-align: center;}
    
}
@media screen and (max-width: 600px) {
    .m-first-box-certificates-list-box {padding: 0 17.5vw;}
}
@media screen and (max-width: 410px) {
    .m-first-box-certificates-list-box {padding: 0 2vw;}
}
