.m-learn {
    display: inline-block ; padding-top: 90px; padding-bottom: 90px; width:100%;
    text-align: center;
}
.m-learn .m-learn-panels,
.m-learn .m-learn-title {
    display: inline-block; margin-bottom: 20px; text-align: center;width: 1355px;
}
.m-learn .m-learn-title {margin-bottom: 40px;}
.m-learn .m-learn-title p{padding-bottom: 30px; font-size: 35px;}
 
@media screen and (max-width: 1366px) {
    .m-learn {padding-top: 50px;}
    .m-learn .m-learn-panels,
    .m-learn .m-learn-title {width: 100%;}
    .m-learn .m-learn-title h1 {font-size: 32px;}
    .m-learn .m-learn-panels .c-image-panel {
        margin: 0.36603221083455345vw;
    }
    .m-learn .m-learn-panels .c-image-panel .c-image-panel-box {
        max-width: 340px; width: 30.74670571010249vw; min-height: 260px; 
    }
    .m-learn .m-learn-panels .c-image-panel .c-image-panel-box .c-image-panel-box-text{
        padding: 0 2.1961932650073206vw;
    }
    .m-learn .m-learn-panels .c-image-panel .c-image-panel-box img {
        min-height: 300px; object-fit: cover;
    }
    .m-learn .m-learn-panels .c-image-panel .c-image-panel-box:hover > .c-image-panel-box-text .c-image-panel-box-text-description{
        max-height: 225px;
    }
    .m-learn .m-learn-panels .c-image-panel .c-image-panel-box:hover > .c-image-panel-box-text .c-image-panel-box-text-title {
        padding-bottom: 10px;
    }
    .m-learn .m-learn-panels .c-image-panel .c-image-panel-box:hover > .c-image-panel-box-text .c-image-panel-box-text-description p {
        padding-top: 5px;
    }
}
@media screen and (max-width: 1050px){
    .m-learn .m-learn-panels{padding: 0 10px;}
    .m-learn .m-learn-panels .c-image-panel {margin: 0.7320644216691069vw;}
}

@media screen and (max-width: 1030px){
    .m-learn {padding-top: 40px;padding-bottom: 40px;}
    .m-learn .m-learn-panels .c-image-panel .c-image-panel-box:hover > .c-image-panel-box-text .c-image-panel-box-text-description{
        max-height: 240px;
    }
}
@media screen and (max-width: 970px){
    .m-learn .m-learn-panels .c-image-panel .c-image-panel-box img {
        min-height: 340px; object-fit: cover;
    }
    .m-learn .m-learn-panels .c-image-panel .c-image-panel-box .c-image-panel-box-text{
        padding: 0 7px;
    }
    .m-learn .m-learn-panels .c-image-panel .c-image-panel-box:hover > .c-image-panel-box-text .c-image-panel-box-text-description{
        max-height: 260px;
    }
}
@media screen and (max-width: 830px) {
    .m-learn .m-learn-title h1{font-size: 28px;}
    .m-learn .m-learn-panels{padding: 0;}
    .m-learn .m-learn-panels .c-image-panel {margin: 0.36603221083455345vw;}
    .m-learn .m-learn-panels .c-image-panel .c-image-panel-box {
        width: 45.78313253012048vw; 
    }
    .m-learn .m-learn-panels .c-image-panel .c-image-panel-box .c-image-panel-box-text .c-image-panel-box-text-title{
        font-size: 18px;
    }
}
@media screen and (max-width: 700px) {
    .m-learn .m-learn-panels .c-image-panel {margin: 1.7320644216691069vw;}

}
@media screen and (max-width: 550px){
    .m-learn .m-learn-panels .c-image-panel .c-image-panel-box {
        max-width: 400px; width: 95vw; 
    }
}
@media screen and (max-width: 500px) {
    .m-learn .m-learn-title h1{font-size: 24px;}
    .m-learn .m-learn-panels .c-image-panel {margin: 0.7320644216691069vw;}
    .m-learn .m-learn-panels .c-image-panel .c-image-panel-box .c-image-panel-box-text{
        padding: 0 10px;
    }
}
