.m-product{margin-top:100px; min-height: 620px;}

.m-product-image {display: inline-block; width:50%; min-height: 620px; white-space: nowrap;}
.m-product-image-vertical-center {margin-left:-3px; display: inline-block; height: 620px; vertical-align: middle;}
.m-product-image img {vertical-align: middle;}

.m-product-descriptions {padding-left: 20px; width:47%; float: right;}
.m-product-descriptions-details-certificate {margin-left: 20px; width:50%; float:left;}

.m-product-descriptions-details {width:100%;}
.m-product-descriptions-details button {
    margin-top: 10px; width: 200px; line-height: 54px; background-color: #20a7f7;
    color:white; font-size: 20px;text-transform: uppercase;
}
.m-product-descriptions-details button span {font-size: inherit;}
.m-product-descriptions-features {padding-top: 20px;}


/*pseudo*/
.m-product-descriptions-details button span:before{margin-right: 10px;}
.m-product-descriptions-features .c-features:last-child{border: none;}
