.m-product{margin-top:100px; min-height: 620px;}

.m-product-image {display: inline-block; width:50%; min-height: 620px; white-space: nowrap;}
.m-product-image-vertical-center {margin-left:-3px; display: inline-block; height: 620px; vertical-align: middle;}
.m-product-image img {vertical-align: middle;}

.m-product-descriptions {padding-left: 20px; width:47%; float: right;}
.m-product-descriptions-details-certificate {margin-left: 20px; width:50%; float:left;}

.m-product-descriptions-details {width:100%;}
.m-product-descriptions-details button {
    margin-top: 10px;padding-bottom: 9px; width: 200px; line-height: 35px; background-color: #20a7f7;
    color:white;
}
.m-product-button-icon  {
    display: inline-block; width: 30px; height:30px; margin-top: 10px; margin-bottom: -5px;
    background-image: url("../../images/section_sixth/icon_cart_white.png"); background-repeat: no-repeat;
    background-size: 100%, 100%;
}   
.m-product-descriptions-features {padding-top: 20px;}


/*pseudo*/
.m-product-descriptions-features .c-features:last-child{border: none;}
