.m-product{margin-top:100px;}

.m-product-image {display: inline-block ;width:50%; }
.m-product-descriptions {padding-left: 3%; width:47%;float: right;}
.m-product-details {width:100%;}

.m-product-certificate {width:50%;}

.m-product-name {display: inline-block; padding-top:20px; width:40%;min-width: 250px; float:left}

.m-product-details button {margin-top: 10px;padding-bottom: 10px; width: 200px;background-color: #20a7f7;
    color:white; border-width: 1px; border-radius: 12px;}

.m-product-button-icon  {display: inline-block; width: 30px;height:30px;margin-top: 10px; margin-bottom: -5px;
background-image: url("../../images/section_sixth/icon_cart_white.png");background-repeat: no-repeat;background-size: 100%,100%;}   


.m-product-certificate { float:left;}
.m-product-features {padding-top: 20px;}


.m-product-name p:nth-child(1) {font-size: 1.3em;}
.m-product-name p:nth-child(2) {font-size: 1.4em;;font-weight:bold;}

.m-product-features .c-features:last-child{border: none;}

