@import url('https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i&display=swap&subset=latin-ext');

* {
   margin: 0;padding: 0; font-family: 'Lato', sans-serif;
   font-size: 18px; box-sizing: border-box;
}

html{line-height: 1.15;}

article,
aside,
footer,
header,
nav,
main,
figcaption,
figure,
section {display: block;}

img {height: auto; max-width: 100%; vertical-align: middle;}
h1 {font-size: 36px;font-weight: 400;}
h3 {font-weight: 400;}
button {border-width: 0; border-radius: 6px; box-shadow: none;}
a {text-decoration: none;}
ul {list-style: none;}

/*pseudo*/
input:focus,
button:focus{outline: none;}
button:hover {cursor: pointer; }

@media screen and (max-width: 1366px) {
   *{font-size: 16px;}
}
