.flex-center {display: flex; height: inherit; align-items: center;}
.gradient {
    background: linear-gradient(45deg,#01b0ec 0%,#3a7aea 100%);
}
.gradient-text{
    background: linear-gradient(to right,#11c1fe 0%,#3a7aea 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.bg-image-air{
    background-image: url("../images/footer/footer_air.png"); 
    background-repeat: no-repeat;background-position: center;
}

button.gradient:hover {
    background: linear-gradient(45deg,#36bfec 0%,#5e8fe4 100%);
}
