.c-certificate {
    display: inline-block; margin-top: 35px; padding: 0 10px; width: 150px;
    vertical-align: top;
}
.c-certificate .c-certificate-image {padding-bottom: 5px; width:140px}
.c-certificate .c-certificate-text {text-align: center; line-height: 22px; font-size: 0.9em; font-weight: 300;}
