.c-certificate {margin-top: 0px;padding: 0%; display: inline-block; width: 150px;padding-left: 0.5208333333333333vw; padding-right: 0.5208333333333333vw;}

.c-certificate-image {margin-top: 35px;padding-bottom: 5px; height: 150px;}

.c-certificate-text {text-align: center;}

