.c-features {
    display:block; padding-top: 20px; padding-bottom: 15px;
    border-bottom: 1px solid lightgrey; width:250px
}
.c-features .c-features-image {float: left;}
.c-features .c-features-text {padding-left: 50px;}
.c-features .c-features-text p b { font-weight: 600;}
