.c-people {display: inline-block; margin-left: 20px;margin-right: 20px; vertical-align: top;}

.c-people-image {
    display: block; margin-top: 35px;margin-left: auto;margin-right: auto; 
    padding-bottom: 20px; height: 225px;
}
.c-people-description {text-align: center; max-width: 440px;}
.c-people-description-title {padding-bottom: 12px;font-size: 1.3em;}


/*pseudo*/
.c-people-description p:nth-child(2) {font-size: 0.82em;}

@media screen and (max-width: 1024px) {
    .c-people-description-title {font-size: 1.4em;}

    .c-people-description p:nth-child(2) {font-size: 1em;}
}
