.c-pollutian {
    display: inline-block; margin-left: 1.5vw; margin-right: 1.5vw; vertical-align: top;}

.c-pollutian-image {
    display: block; margin-top: 35px;margin-left: auto;margin-right: auto; 
    padding-bottom: 5px; height: 150px;
}

.c-pollutian-text { max-width: 270px; text-align: center; font-weight: 300;}

.c-pollutian-title { max-width: 270px; text-align: center; font-size: 1.1em;}
