.c-product-name {display: block; padding-top:20px; min-width: 250px; float:left;}
.c-product-name .c-product-name-device {font-size: 20px;font-weight: 300;}
.c-product-name .c-product-name-model {font-size: 34px;}
