.c-risk { margin-bottom: 18px; vertical-align: bottom;}
.c-risk-image {display: inline-block; vertical-align: top;}
.c-risk-box{display: inline-block;}
.c-risk-box-text {display:inline-block; padding-left: 20px; font-weight: 300;min-height: 32px;}
