.c-search-bar {
    display: inline-block; margin-right: 40px; border-bottom: 1px solid #aeaeae; 
    position: relative;
}
.c-search-bar .c-search-bar-form .c-search-bar-form-input {
    width: 150px; height: 44px; font-size: 1em; border-style: none;
}
.c-search-bar .c-search-bar-form .c-search-bar-form-icon {
    font-size: 24px; vertical-align: middle;
}
.c-search-bar .c-search-bar-form .c-search-bar-form-placeholder {
    position: absolute; top: 11px; left:0; color:#9b9b9b; transition: top 0.4s; transition: font-size 0.3s;
}

/*pseudo*/
.c-search-bar .c-search-bar-form .c-search-bar-form-placeholder:hover {cursor: text;}
.c-search-bar .c-search-bar-form .c-search-bar-form-icon:hover {cursor: pointer;}
.c-search-bar .c-search-bar-form .c-search-bar-form-input:focus + label,
.c-search-bar .c-search-bar-form .c-search-bar-form-input:valid + label{
    top:-3px; font-size: 12px; cursor: default;
}
