.c-text-list .c-text-list-title {padding-top: 5px; font-size: 24px;}
.c-text-list .c-text-list-text {
    padding-top: 14px; font-size: 20px; font-weight: 300;
    line-height: 26px; padding-bottom: 14px;
}
