.v-first {width: 100%; background-color: #bde9ff}

.v-first-image,
.v-first-certificates {display: inline-block; padding-top: 8vh; width: 50%;}
.v-first-certificates {float: left;}

.v-first-certificates-text,
.v-first-certificates-list {width: 100%;}

.v-first-certificates-list-box,
.v-first-certificates-text-box {margin-right: 5vw; float: right; text-align: right;}
.v-first-certificates-text-box h1 {padding-bottom: 10px;}
.v-first-certificates-list-box {height: 50vh;}