.v-fifth {
         display: inline-block; margin-top: 100px; width: 100%; min-height: 800px; background-color: #f3fbfd;
         background-image: url("../../images/section_fifth/purifier_back.png"); background-repeat: no-repeat;
         background-position: left bottom;
}
.v-fifth-content {display: block;}
.v-fifth-content-title,
.v-fifth-content-image,
.v-fifth-content-text {display: inline-block; margin-top: 75px;}

.v-fifth-content-image {margin-left: 2%; width: 25px;}
.v-fifth-content-text {padding-left: 55px; width:600px; vertical-align: top;}
.v-fifth-content-text .c-text-list p {padding-left: 55px; position: relative;}
.v-fifth-content-text button {
     margin-top: 20px;margin-left: 55px;margin-right: 30px; padding-top: 10px; padding-bottom: 10px;
     width: 270px; background-color: #20a7f7;color:white; font-size: 20px;
}
.v-fifth-content-title {width:47%; text-align: right; vertical-align: top;}
.v-fifth-content-title h1{font-size: 32px; font-weight: 300;line-height: 44px;}
.v-fifth-content-title p {margin-bottom: 10px;font-size: 20px; font-weight: 300;}
.v-fifth-content-title div {margin-bottom: 30px;}

/*pseudo*/
.v-fifth-content-title h1:nth-child(2) {color:#2a96f2; font-size: 35px; font-weight: 600;}
.v-fifth-content-text .c-text-list .c-text-list-title:before {
     content: ""; display: block; width: 8px; height: 8px; border-radius: 50%; 
     background-color: #727272; position: absolute; left: 0; top: 15px;  
}
.v-fifth-content-text .c-text-list .c-text-list-text:not(:last-child):before {
     content: ""; display: block; width: 3px; height: calc(100% + 7px); background-color: #727272;
     position: absolute; left: 2px; top: 0px;
}

@media screen and (max-width: 1470px) {
     .v-fifth {background-size: 130%,130%;}
}
@media screen and (max-width: 1366px) {
     .v-fifth-content-text {width: 45%;}
     .v-fifth-content-text .c-text-list .c-text-list-title {font-size:22px;}
     .v-fifth-content-text .c-text-list .c-text-list-text {font-size:18px;}
     .v-fifth-content-title h1 {font-size: 28px;}
     .v-fifth-content-title h1:nth-child(2) { font-size: 30px;}
}
@media screen and (max-width: 830px) {
     .v-fifth {background-image: none;}
     .v-fifth-content-text button {width: 230px;}
}
@media screen and (max-width: 700px) {
     .v-fifth {margin-top: 0;}
     .v-fifth-content-title {width: 100%; text-align: center;}
     .v-fifth-content-text {margin-top: 30px; padding-left: 25px; width: 75%;}
     .v-fifth-content-text button {margin-left: 30px; margin-right: 0;  width: 88%;}
     .v-fifth-content-text .c-text-list p {padding-left: 35px;}
     .v-fifth-content-title p {font-size: 18px;}
     .v-fifth-content-title h1 {font-size: 24px;}
     .v-fifth-content-title h1:nth-child(2) { font-size: 26px;}
}
@media screen and (max-width: 500px) {
     .v-fifth-content-text {margin-top: 30px; width: 90%;}
     .v-fifth-content-text .c-text-list .c-text-list-title {font-size: 20px;}
     .v-fifth-content-text .c-text-list .c-text-list-text {font-size: 16px;}
}
