.v-first {display: flex; width: 100%; background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(232,247,255,1) 43%, rgba(189,233,255,1) 80%, rgba(189,233,255,1) 100%);
}

.v-first-image {width:50%;}
.v-first-image img{width: 85%; height: auto;}

.v-first-image,
.v-first-certificates {display: inline-block; padding-top: 50px; }
.v-first-certificates {float: left; width: 50%; height:inherit;}


.v-first-certificates-text,
.v-first-certificates-list,
.v-first-certificates-text-box {width: 100%;}

.v-first-certificates-list-box,
.v-first-certificates-text-box {margin-right: 0; float: right; text-align: right;}
.v-first-certificates-text-box span {padding-bottom: 10px;font-size: 2.3em;}
.v-first-certificates-text-box  img { margin-top: -22px; padding-left: 2px;padding-right: 2px;}
.v-first-certificates-text-box p {font-size: 1.2em; font-weight: 300;}


.v-first-certificates-text-box {padding-top: 100px;}

@media screen and (max-width: 1334px) {
    
    .v-first-certificates-text-box {padding-top: 0;}
}