.v-fourth {width: 100%;}

.v-fourth-title {margin-bottom: 50px; text-align: center;}

.v-fourth-items-list {padding-bottom: 50px; text-align: center;}
.v-fourth-items-list-box {display: inline-block; margin-left: 8.854vw; margin-right: 8.854vw;}