#v-header {
    width: 100%; background-color: white;box-shadow: 0px 2px 3px 0px #00000033;
    position: absolute;
}
#v-header .v-header-box {
    display: flex; margin: auto; padding-left: 40px; padding-right: 40px; height:90px;
    max-width: 1355px;justify-content: space-between;
}
#v-header .v-header-box .v-header-box-logo {display: flex; width:180px;}

#v-header .v-header-box .v-header-box-nav, 
#v-header .v-header-box .v-header-box-icons,
#v-header .v-header-box .v-header-box-icons .v-header-box-icons-items {
    display: inline-block;
}
#v-header .v-header-box .v-header-box-shadow {
    display: none; width:100vw; height: 100vh; background-color: #00000088;
    position: fixed; top: 0; left: 0; z-index: 101;
}

#v-header .v-header-box .v-header-box-nav {
    margin-left: 0;padding: 0;
}
#v-header .v-header-box .v-header-box-nav .v-header-box-nav-ul {
    display: inline; list-style-type: none;
}
#v-header .v-header-box .v-header-box-nav .v-header-box-nav-ul .v-header-box-nav-ul-li {
    float: left; position: relative;
}
#v-header .v-header-box .v-header-box-nav .v-header-box-nav-ul .v-header-box-nav-ul-li .v-header-box-nav-ul-li-a {
    display: inline-block; margin: 0; padding-left: 20px; padding-right: 20px; 
    line-height: 90px; text-align: center;  text-decoration: none;color: #2d2d2d;
}
#v-header .v-header-box .v-header-box-nav .v-header-box-nav-ul .v-header-box-nav-ul-li input[type=checkbox] {
    display: none;
}
#v-header .v-header-box .v-header-box-nav .v-header-box-nav-ul .v-header-box-nav-ul-li .v-header-box-nav-ul-li-icon {
    display: flex; margin-top: -20px; color:#2d2d2d;
}
#v-header .v-header-box .v-header-box-nav .v-header-box-nav-ul .v-header-box-nav-ul-li .v-header-box-nav-ul-li-check {
    display: block;
}
#v-header .v-header-box .v-header-box-nav .v-header-box-nav-header {
    display: none; width:100%; border-bottom: 1px solid lightgrey;
}
#v-header .v-header-box .v-header-box-nav .v-header-box-nav-header-close {
    padding-right: 20px; line-height: 75px; float: right; text-transform: uppercase;
}
#v-header .v-header-box .v-header-box-nav .v-header-box-nav-header-close i{
    font-size: 20px;
}

#v-header .v-header-box .v-header-box-icons{
    padding: 0;padding-top: 23px;padding-bottom: 23px;
}
#v-header .v-header-box .v-header-box-icons .v-header-box-icons-items {
    padding-left: 15px;border-left: 2px solid lightgrey;
}
#v-header .v-header-box .v-header-box-icons .v-header-box-icons-items {
    vertical-align: middle;
}
#v-header .v-header-box .v-header-box-icons .v-header-box-icons-items a {
    margin-left: 8px;margin-right: 8px; font-size: 26px; display: inline-flex;
    color:black;
}

#hamburger{
    display: none; font-size: 22px; color:black; position: fixed; top:27px; right:20px;
}
#hamburger-button{
    display: none; width: 24px; height: 22px;opacity: 0; position: fixed;
    top:27px ; right:18px; z-index: 2;
}
#search-button {
    display: none; width: 24px; height: 22px;opacity: 0; position: fixed;
    top:25px ; right:145px; z-index: 2;
}

/* pseudo */
#v-header .v-header-box .v-header-box-nav ul li a:hover {
    animation-name: hoverNav; animation-duration: 1s;animation-fill-mode: forwards;
}
.v-header-box-nav-ul-li-icon:hover{cursor: pointer;}

#hamburger:hover,
#v-header .v-header-box .v-header-box-icons .c-search-bar-form-icon:hover,
#v-header .v-header-box .v-header-box-icons a:hover {cursor: pointer; color: #397bea;}

.v-header-box-nav-ul-li-icon:before {
    content: "\2d"; margin: 0 auto; font-family: "icube-font" !important; font-style: normal !important;
    font-weight: normal !important; font-variant: normal !important; text-transform: none !important;
    line-height: 1; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;
}

#v-header .v-header-box .v-header-box-nav.is-hidden {display: none;}

@media screen and (max-width: 1366px) {
    #v-header .v-header-box {padding-left: 20px; padding-right: 20px; height:75px;}
    #v-header .v-header-box .v-header-box-logo {width:150px;}
    #v-header .v-header-box .v-header-box-nav .v-header-box-nav-ul .v-header-box-nav-ul-li .v-header-box-nav-ul-li-a {
        padding-left: 15px; padding-right: 15px; line-height: 75px;
    }
    
    #v-header .v-header-box .v-header-box-icons{padding-top: 17px;padding-bottom: 17px;}
    #v-header .v-header-box .v-header-box-icons .v-header-box-icons-items img {width: 35px}
    #v-header .v-header-box .v-header-box-icons .v-header-box-icons-items a {font-size: 22px;}

    #v-header .v-header-box .v-header-box-icons .c-search-bar {margin-right: 20px;}
    #v-header .v-header-box .v-header-box-icons .c-search-bar-form-icon{font-size: 21px;}
    #v-header .v-header-box .v-header-box-icons .c-search-bar-form-input {
        width: 130px; height:40px;
    }
    #v-header .v-header-box .v-header-box-nav .v-header-box-nav-ul .v-header-box-nav-ul-li .c-sub-nav{
        top: 75px;
    }
}
@media screen and (min-width: 1030px){
    #v-header .v-header-box .v-header-box-nav .v-header-box-nav-ul .v-header-box-nav-ul-li:hover > .c-sub-nav {
        display: block; opacity: 0; animation-name: dropDownSubNav; animation-duration: 1s; 
        animation-fill-mode: forwards; animation-delay: 0.3s;
    }
    #v-header .v-header-box .v-header-box-nav .v-header-box-nav-ul .v-header-box-nav-ul-li .c-sub-nav ul li:hover > .c-sub-nav {
        display: block; top: 0; left: 100%; opacity: 0; animation-name: dropDownSubNav; 
        animation-duration: 1s; animation-fill-mode: forwards; animation-delay: 0.3s;
    }
    #v-header .v-header-box .v-header-box-nav .v-header-box-nav-ul .v-header-box-nav-ul-li .c-sub-nav ul .c-sub-nav-li a:hover + .c-sub-nav-li-icon,
    #v-header .v-header-box .v-header-box-nav .v-header-box-nav-ul .v-header-box-nav-ul-li .v-header-box-nav-ul-li-a:hover + .v-header-box-nav-ul-li-icon {
        animation-name: hoverColorWhite; animation-duration: 1s; animation-fill-mode: forwards;
    }
}
@media screen and (max-width: 1030px) {
    #v-header {position: fixed; left: 0; top: 0; z-index: 100;}
    #v-header .v-header-box .v-header-box-nav {
        display: block; width:40%; height: 100%; min-width: 240px;
        background-color: white; box-shadow: 0px 2px 3px 0px #000000ff; 
        border-left: 1px solid lightgrey; position: fixed; top: 0; right: -500px; 
        z-index: 102; transition: right 0.5s linear;
        
    }
    #v-header .v-header-box .v-header-box-nav .v-header-box-nav-header {
        display: inline-block;
    }
    #v-header .v-header-box .v-header-box-nav .v-header-box-nav-ul {
        display: block; margin: 0; height: calc(100% - 75px); overflow-y: auto; 
    }
    #v-header .v-header-box .v-header-box-nav .v-header-box-nav-ul .v-header-box-nav-ul-li {
        float: none; line-height: 75px;
    }
    #v-header .v-header-box .v-header-box-nav .v-header-box-nav-ul .v-header-box-nav-ul-li .v-header-box-nav-ul-li-a {
        display: inline-block; width: 80.5%; background-color: white; line-height: 55px;
    }
    #v-header .v-header-box .v-header-box-nav .v-header-box-nav-ul .v-header-box-nav-ul-li .v-header-box-nav-ul-li-icon {
        display: flex; margin-top: 0; float: right; margin-right: 15px;
    }
    #v-header .v-header-box .v-header-box-icons .v-header-box-icons-items {
        margin-right: 35px;
    }

    #v-header .v-header-box .v-header-box-nav .v-header-box-nav-ul .v-header-box-nav-ul-li .c-sub-nav{
        display: block; width:40%; height: 100%; min-width: 240px; position: fixed; top: 0; 
        left: unset; right: -500px; transition: right 0.5s linear;
    }
    #v-header .v-header-box .v-header-box-nav .v-header-box-nav-ul .v-header-box-nav-ul-li .c-sub-nav ul {
        position: relative; top: 0; height: calc(100% - 75px); overflow-y: auto;
    }
    #v-header .v-header-box .v-header-box-nav .v-header-box-nav-ul .v-header-box-nav-ul-li .c-sub-nav ul .c-sub-nav-li{
        background-color: white;
    }
    #v-header .v-header-box .v-header-box-nav .v-header-box-nav-ul .v-header-box-nav-ul-li .c-sub-nav ul .c-sub-nav-li a {
        padding-left: 15px; padding-right: 15px; width: 80.5%;
    }
    #v-header .v-header-box .v-header-box-nav .v-header-box-nav-ul .v-header-box-nav-ul-li .c-sub-nav ul .c-sub-nav-li .c-sub-nav-li-icon {
        display: block; margin-right: 15px; font-size: 22px; line-height: 75px; 
        position: unset; float: right;
    }

    #hamburger {display: block;}
    .c-sub-nav .c-sub-nav-header {display: flex;}
    
    /* pseudo */
    .v-header-box-nav-ul-li-icon:before {
        content: "\76"; font-size: 22px; line-height: 75px;
    } 
    #v-header .v-header-box .v-header-box-nav .v-header-box-nav-ul .v-header-box-nav-ul-li .v-header-box-nav-ul-li-a:hover ~ .c-sub-nav {
        visibility: hidden;
    }
    #v-header .v-header-box .v-header-box-nav .v-header-box-nav-ul .v-header-box-nav-ul-li input[type=checkbox]:checked + .c-sub-nav { 
        right: 0px;
    }
    #hamburger-button[type=checkbox]:checked + #menu{
        right: 0px;
    }
    #hamburger-button[type=checkbox]:checked ~ .v-header-box-shadow{
        display: block;
    }
}
@media screen and (max-width: 530px){
    #v-header .v-header-box .v-header-box-icons {padding-top: 25px;padding-bottom: 0px;}
    #v-header .v-header-box .v-header-box-icons .v-header-box-icons-items {
        padding-left: 10px; border:none;
    }
    #v-header .v-header-box .v-header-box-icons .c-search-bar {margin-right: 0; border: none;}
    #v-header .v-header-box .v-header-box-icons .c-search-bar-form-input {
        display: none; background-color: white; padding-left: 20px; padding-right: 20px;
        width:100%;font-size: 20px; border-top: 1px solid lightgrey;
        box-shadow: 0px 2px 3px 0px #00000033; position: fixed; top: 74px; left: 0px;
    }
    #v-header .v-header-box .v-header-box-icons .c-search-bar-form-placeholder {
        visibility: hidden; top:75px; left: 20px; position: fixed; z-index: 2;
    }
    #hamburger {top:25px;}
    #search-button {display: block;}

    /*pseudo*/
    #v-header .v-header-box .v-header-box-icons .c-search-bar .c-search-bar-form .c-search-bar-form-input:focus + .c-search-bar-form-placeholder,
    #v-header .v-header-box .v-header-box-icons .c-search-bar .c-search-bar-form .c-search-bar-form-input:valid + .c-search-bar-form-placeholder{
        display: none;
    }
    #search-button[type=checkbox]:checked + input[type=text]{
        display: block;
    }
    #search-button[type=checkbox]:checked ~ .c-search-bar-form-placeholder{
        visibility: visible;
    }
}
@media screen and (max-width: 370px){
    #v-header .v-header-box .v-header-box-logo {width:28vw;}
}


/* animations */

@keyframes hoverNav{
    from {background-color: none; color: #2d2d2d;}
    to {background-color: #2191eb; color:white;}
}
@keyframes hoverColorWhite{
    from {color: #2d2d2d;}
    to {color:white;}
}
@keyframes dropDownSubNav{
    from {opacity: 0;}
    to {opacity: 1;}
}
